* {
    background-color: black;
    color: azure;
    min-height: 100%;
    scrollbar-width: thin;
    scrollbar-gutter: inherit;
    scroll-margin: unset;
}

::selection {
    background-color: rgb(210, 215, 146);
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-text {
    display: flex;
    justify-content: space-around;
    background-color: rgb(3, 29, 15);
    padding: 2%;
    font-size: large;
    font-style: italic;
}

#iframe {
    border-radius: 10px;
    width: 50%;
}

#ifr-div {
    background-color: rgb(113, 4, 4);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#cont-text{
    font-family: fantasy;
    font-size: 100px;
}

#contents p{
    font-size: xx-large;
}

#img{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    padding: 20px;
}

img{
    display: flex;
    border-radius: 2rem;
    justify-content: space-between;
}

.code{
    background-color: #fff;
    border-radius: 20px;
    color: #fff;
}

#blog{
    border: none;
    border-radius: 15px;
}